*html {
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Wix Madefor Display', sans-serif;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}

footer {
    font-family: 'Nunito', sans-serif;
}