* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    /* color: #fff */
    line-height: 1.5;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
}

/* Headings */

#company-name {
    color: #dec9e9;
    font-size: 1.5rem;
}

#intro,
#fan-fave,
#team {
    padding: 5em 0;
}

#header {
    background-color: black;

}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: #dec9e9;
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #fff;
}

#hero-banner {
    height: 70vh;
    background-color: #725185;
    background-image: url(../images/ice-cream-cones.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    color: #fff;
    font-size: 3em;
    margin: auto;
    padding: 200px;
}

h1 {
    filter: drop-shadow(8px 5px 13px #333333);
}

#intro {
    background-color: #6d52af;
    color: #fff;
}

h2 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 2em;
}

#fan-fave {
    background-color: #000;
    color: #dec9e9;
}

#fan-fave li {
    list-style-type: none;
}

#team {
    background-color: #6d52af;
    color: #fff;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
}